 <table class="table table-striped" >

  <% @data_entry = DataEntry.find_by(form_id: params[:form_id]) %>
  <% @data_entries = DataEntry.where(form_id: params[:form_id])
 %>
          
                <thead>
                    <tr>   
                       <%# @data_table_entries.each do |data| %>   
                       <% @data_entry.properties.each do |k, v| %>

                <%# data.properties.each do |k,v| %>
                        <th><%="#{k}"%></th>
                        <% end %>
                     </tr>
                </thead>
            
              <tbody>
                    <tr>
                     <% @data_entries.each do |data| %>
                     <% data.properties.each do |k,v| %>
                      <td><%="#{v}"%></td>
                      <% end %>
                    </tr>
                <% end %>
              </tbody>
              </table>
                       
                      
                        </div>
                    </div>
                    <!-- END PAGE BASE CONTENT -->
                </div>
<%= link_to 'Back', forms_path, class: "btn btn-primary"  %>
